body {
  margin: 0;
  font-family: 'Vazir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  overflow: show;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 0;
  left: 0;
  background: black;
  background: rgba(0, 0, 0, 0.9);
  bottom: 0;
  right: 0;
}

.particles {
  font-family: "sans-serif";
  text-align: "center";
  height: "100%";
  background: "#222";
  display: "flex";
  justify-content: "center";
  align-items: "center"
}